html
   head
      title page not found
      style.
            body  {
               display: flex;
               justify-content: center;
               background-color:grey;
               color:#fff;
                           }
   body
         h1 Url does not exist
