
html
  head
    title URL SHORTENER
    style.
      body {
        width: 100vw;
        display: flex;
        justify-content: center;
      }
      .container {
        width: 300px;
        margin: 20px auto;
        color: red;
      }
  body
    div.container
      h1 URL shortener
      form(method='post', id='form')
        label(for='url') URL:
        input(type='text', name='url', id='url',required)
        button(type='submit',id="ubmitButton") Submit
      p#showdata
      p#showdata2
    script.
      document.getElementById('form').addEventListener('submit', async function (event) {
        event.preventDefault();
        try {
          const urlInput = event.target.elements.url;
          const urlValue = urlInput.value.trim();  

          if (urlValue) {
            const res = await fetch('api/shorturl', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json',
              },
              body: JSON.stringify({ url: urlValue }),
            });

            const data = await res.json()

            if(res.status===200){
              console.log(data)
            document.getElementById('showdata').textContent = data.original_url
            document.getElementById('showdata2').textContent=data.short_url

            console.log(data)
          } else {
            document.getElementById('showdata').textContent = data.error
          }
            }
           
          
        } catch (error) {
          console.log(error);
        }

        
      });
